.miro-input--small, .miro-btn, button,  .ng-hide, .miro-btn--pull-right {
    width: 80px;
    margin: 3px 0 0 14px ;
    padding: 3px;
}
.miro-h4, .no-selected-widget {
    margin: 3px 0 0 14px ;
}
body {
  margin: 0px;
  padding: 0px;
}

hr.greyLine {
  border-top: 1px solid #C3C2CF;
  opacity: 1;
  margin: 20px;
  padding: 0;
  margin-bottom: 0px;
}

.edge {
  margin-left: 20px;
}